{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center"
           data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>I'm
              <br/>
              <span>
                  <strong class="titre-toutchy">
                      Toutchy's kipik
                  </strong>
              </span>
              <br/>
              and
              <br/>
              welcome in my world
          </h2>
          <p>Passionné par l’univers du web et doté d’une grande curiosité, je me suis spécialisé dans le développement front-end et la création du site internet. .</p>
          <a href="#" class="btn btn-success">Contactez moi !</a>
        </div>
      </div>
    </div>
  </section>

    <!-- ======= Skills ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Skills</h2>
                <p>Tour d'horizon des languages pratiquées:</p>
            </div>
            <div class="box-skills">
                <figure class="snip1543">
                    <img src="{% static 'image/skills/design.png' %}" alt="sample108"/>
                    <figcaption>
                        <h3>
                            Html
                            <br/>
                            Css
                            <br/>
                            Scss
                            <br/>
                            Sass
                        </h3>
                    </figcaption>
                    <a href="#"></a>
                </figure>
                <figure class="snip1543">
                    <img src="{% static 'image/skills/java.png' %}" alt="sample100" />
                    <figcaption>
                        <h3>
                            JAVA-PO
                            <br/>
                            JAVA-SE
                            <br/>
                            JAVA-EE</h3>
                    </figcaption>
                    <a href="#"></a>
                </figure>
                <figure class="snip1543">
                    <img src="{% static 'image/skills/sql.png' %}" alt="sample101" />
                    <figcaption>
                        <h3>POSTGRE
                            <br/>
                            MYSQL
                            <br/>
                            SQL-SERVER
                            <br/>
                            ORACLE</h3>
                    </figcaption>
                    <a href="#"></a>
                </figure>

                <figure class="snip1543">
                    <img src="{% static 'image/skills/php.png' %}" alt="sample100" />
                    <figcaption>
                        <h3>Php
                            <br/>
                            Symfony
                        </h3>
                    </figcaption>
                    <a href="#"></a>
                </figure>

                <figure class="snip1543">
                    <img src="{% static 'image/skills/js.jpg' %}" alt="sample100" />
                    <figcaption>
                        <h3>
                            JavaScript
                            <br/>
                            TypeScript
                            <br/>
                            Angular
                        </h3>
                    </figcaption>
                    <a href="#"></a>
                </figure>

                <figure class="snip1543">
                    <img src="{% static 'image/skills/android.png' %}" alt="sample101" />
                    <figcaption>
                        <h3>Android Studio
                            <br/>
                            kotlin
                        </h3>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
        </div>
    </section>
    <!-- SKILLS -->

    <!--===== separateur =====-->
    <div class="separateur">
    </div>

    <!-- ======= ENVIRONNEMENTS et IDE ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Mais sur quelle IDE travail-tu ?</h2>
                <p>Comme a dit un grand homme :
                    "A chaque problème, il y'a une solution"</p>
            </div>

            <div class="row">
                <!-- ===== VS CODE ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/vscode.svg' %}" alt="PyCharm">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Visual studio code</h4>
                        <p class="description">Pour les projets de "site vitrine"</p>
                    </div>
                </div>
                <!-- ===== PyCharm ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/pycharm.svg' %}" alt="PyCharm">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">PyCharm</h4>
                        <p class="description">Pour les projets en python !</p>
                    </div>
                </div>

                <!-- ===== PHP STORM ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/webstorm.svg' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Web Storm</h4>
                        <p class="description">Pour les projets php !</p>
                    </div>
                </div>

                <!-- ===== ECLIPSE ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/eclipse.svg' %}" alt="Eclipse">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Eclipse</h4>
                        <p class="description">Pour les projets java !</p>
                    </div>
                </div>
                <!-- ===== GITHUB ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/android-studio.svg' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Android studio</h4>
                        <p class="description">Pour les projets mobiles !</p>
                    </div>
                </div>

                <!-- ===== Docker ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/github.svg' %}" alt="github">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Github</h4>
                        <p class="description">Pour le versionning et les projets collaboratifs!</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- ENVIRONNEMENTS -->

    <!--===== separateur =====-->
    <div class="separateur">
    </div>

    <!-- ======= IDE ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Et, qu'utilise tu d'autres ?</h2>
                <p>Comme a dit un grand homme : "On ne plante pas un clou avec un ordi !! euh.. un truc comme ça"</p>
            </div>

            <div class="row">

                <!-- ===== codepen ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/symfony.png' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Symfony</h4>
                        <p class="description">Pour les applications php !</p>
                    </div>
                </div>

                <!-- ===== codepen ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/tomcat.svg' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Apache tomcat</h4>
                        <p class="description">Pour le serveur des projets java !</p>
                    </div>
                </div>

                <!-- ===== Docker ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/docker.svg' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Docker / XAMP</h4>
                        <p class="description">Pour les environnements virtuels !</p>
                    </div>
                </div>

                <!-- ===== postgres ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/postgresql.svg' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Postgresql</h4>
                        <p class="description">Pour les bases de données !</p>
                    </div>
                </div>

                <!-- ===== firebase ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/firebase.svg' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">firebase</h4>
                        <p class="description">Pour les bases de données nosql !</p>
                    </div>
                </div>

                <!-- ===== Docker ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/bootstrap.svg' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Bootstrap</h4>
                        <p class="description">Pour la mise en page et le responsive !</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!--===== separateur =====-->
    <div class="separateur">
    </div>

    <!-- ======= IDE ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Et pour les CRM ?</h2>
                <p>Comme a dit un grand homme : ""</p>
            </div>

            <div class="row">

                <!-- ===== odoo ===== -->
                <div class="box-env" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <img src="{% static 'image/ide/odoo.png' %}" alt="">
                    </div>
                    <div class="icon-text">
                        <h4 class="title">Odoo</h4>
                        <p class="description">Pour les projets nécessitant un CRM !</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

        <!--===== separateur =====-->
    <div class="separateur">
    </div>

    <!-- ======= RECOMENDATIONS ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">
                <div class="section-title">
                    <h2>Recomendations</h2>
                    <p>Vu de l'extérieur.</p>
                </div>

                <div class="owl-carousel testimonials-carousel">
                    <div class="row">
                        <!-- ======= RECOMENDATION 1 ======= -->
                        <div class="testimonial-item" data-aos="fade-up">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Ayant été le mentor d’Anthony je ne peux que le recommander! Anthony possède toutes les soft skills nécessaire afin de monter rapidement en compétence techniquement
                                au sein d’une entreprise. Autodidacte, sociable et ayant une soif d’apprendre.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHgMH0rrhGvUg/profile-displayphoto-shrink_100_100/0/1579776163557?e=1665619200&v=beta&t=ieHQScKn123SRElCq5Q3YqFvfgT7esQslz4178EGQRs" class="testimonial-img" alt="">
                            <h3>Bérénice Gallego</h3>
                            <h4>Responsable ressources humaines multi-sites</h4>
                        </div>

                        <!-- ======= RECOMENDATION 2 ======= -->
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Anthony m'a donné énormément de conseils concernant la mise en forme de mon site, et tout ce qui est associé au bon fonctionnement de celui-ci ( responsive, référencement,
                                maintenance ) Il est autodidacte, passionné et ça se ressent dans l'investissement qu'il applique au travers de tout ses projets.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="https://media-exp1.licdn.com/dms/image/C5603AQGfM4EgoP-xLA/profile-displayphoto-shrink_200_200/0/1517284386111?e=1665619200&v=beta&t=7_KwSX7BQ83Ewztm4PnUwzy4a-HDIfOF_Y8-CvWaYTI" class="testimonial-img" alt="">
                            <h3>Noux création</h3>
                            <h4>Graphiste</h4>
                        </div>

                        <!-- ======= RECOMENDATION 3 ======= -->
                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Persévérant est le mot qui me vient en tête lorsque je pense à Anthony. J'ai eu le plaisir de le mentorer avec Openclassrooms pendant 6 mois. J'ai été impressionné
                                par ça capacité à chercher des infos lorsqu'il est bloqué. Et, bien sûr, sa bon humeur. Anthony devrait être un véritable atout à tous les postes nécessitant intégrateur, je le recommande sincèrement.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFQaB2epZUUCQ/profile-displayphoto-shrink_100_100/0/1566835555983?e=1665619200&v=beta&t=ofZ9CEspYTHtGYKHTQRDXqVE_moBTbdoh6mG5qR6DhM" class="testimonial-img" alt="">
                            <h3>Steeve lefort</h3>
                            <h4>Dévelopeur full stack</h4>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- RECOMENDATIONS -->
 {% endblock %}