{% extends 'base.html' %}
{% load static %}

{% block content %}

<main id="main">
<!--
<div class="container-lag">
    <div class="box-lag">
      <div class="glitch" data-text="ANTHO">ANTHO</div>
      <div class="WEBDESIGN">WEBDESIGN</div>
      <p class="subtitle">WEB DEVELOPER</p>
  </div>
  <div class="scanlines"></div>
</div>
-->
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2><a href="https://antho635.github.io/projet-salva/">ÉCO-DÉMÉNAGEMENT</a></h2>
                    <ol>
                        <li><a href="{% url 'acceuil' %}">Acceuil</a></li>
                        <li><a href="{% url 'eco_demenagement_details' %}">Détails</a></li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="projet-demenagement" class="portfolio-details">
            <div class="container">

                <div class="portfolio-details-container">

                    <div class="owl-carousel portfolio-details-carousel">
                        <!--<img src="assets/img/portfolio/eco.png" class="img-fluid" alt="">-->
                        <img src="{% static 'image/portfolio/fragile.jpg' %}" class="img-fluid" alt="">
                        <img src="{% static 'image/portfolio/eco.png' %}" alt="sample108"/>
                        <img src="{% static 'image/portfolio/utilitaires.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Informations</h3>
                        <ul>
                            <li><strong>Category</strong>: Site E-commerce</li>
                            <li><strong>Client</strong>:€co-Déménagement</li>
                            <li><strong>date</strong>: 17 Avril, 2020</li>
                            <li><strong>URL</strong>:
                                <a href="https://antho635.github.io/projet-salva/"> lien ici !</a>(GitHub)</li>
                        </ul>
                    </div>

                </div>

                <div class="portfolio-description">
                    <h2 class="text-danger text-center">Site en cours de développement !!</h2>
                    <p>
                        " Jeune entrepreneur serieux avec une équipe motivée et passionnée, Éco déménagement est le n°1 du transport de biens dans la région PACA avec divers véhicules selon vos besoins ainsi que le devis en ligne et le calculateur de volume pour un gain de temps
                        assuré !!"
                    </p>
                </div>

            </div>
        </section>
        <!-- End Portfolio Details Section -->

    </main>
    <!-- End #main -->
{% endblock %}