{% extends 'base.html' %}

{% block content %}
<main id="main">
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Curriculum vitae</h2>

            <a class="cta-btn" href="{% url 'index' %}">Retour</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->
    <!-- ======= CURRICULUM VITAE ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <!-- ======= HEBERGER SUR GITHUB ======= -->
            <div class="row"> <!-- ======= TODO:ajouter les liens ======= -->
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Portfolio designed only with HTML/CSS</h3>
                    <div class="resume-item pb-0">
                        <p>" Mobiles : Orientation en mode paysage préférable "</p>
                        <h5>
                            <a class="link-p" href="{% url 'cv_design' %}" target="blank"> lien ici !</a>
                        </h5>
                    </div>
                    <h3 class="resume-title">Consultant CRM / intégrateur logiciel</h3>
                    <div class="resume-item">
                        <h4>CAPTIVEA</h4>
                        <!--<h5>
                               <a class="link-p" href="projet-captivea.html"> détails ici !</a>
                           </h5> -->
                        <h5>
                            <a class="link-p" href="https://captivea.com" target="blank"> lien ici !</a>
                        </h5>
                        <p><em>Compétences :</em></p>
                        <ul>
                            <li>- Analyse des besoins des clients et élaboration des cahiers des charges.</li>
                            <li>- Assistance à l’équipe commerciale dans la formalisation des propositions et dans l’argumentation technique des solutions préconisées aux clients.</li>

                            <li>- Suivi de la mise en production et coordination des projets, en relation avec les développeurs et jusqu’à l’implantation finale.</li>
                            <li>- Paramétrage des systèmes, réalisation des tests d’intégration et mise en service.</li>

                            <li>- Reporting de ses activités auprès de la direction.</li>
                            <li>- Support technique et fonctionnel auprès des utilisateurs et animation des actions de formation si besoin.</li>
                            <li>- Accompagnement et suivi du client dans l’utilisation du logiciel et dans son évolution.</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Dévelopement & S.E.O (stage)</h3>
                    <div class="resume-item">
                        <h4>La cordée numérique (GRAND CHAMBÉRY)</h4>
                        <h5>
                            <a class="link-p" href="projet-lacordee.html"> détails ici !</a>
                        </h5>
                        <h5>
                            <a class="link-p" href="https://lacordeenumerique.fr" target="blank"> lien ici !</a>
                        </h5>
                        <p><em>Compétences :</em></p>
                        <ul>
                            <li>- Création du site pour GRAND CHAMBÉRY qui visent à mettre en relation les usagers et la commune.</li>
                            <li>- Configuration de l’hébergement chez OVH.</li>
                        </ul>
                    </div>
                    <h3 class="resume-title">Dévelopement & S.E.O</h3>
                    <div class="resume-item">
                        <h4>LA CHOUETTE AGENCE</h4>
                        <h5>
                            <a class="link-p" href="projet-agence.html"> détails ici !</a>
                        </h5>
                        <h5>
                            <a class="link-p" href="https://antho635.github.io/projet-4/" target="blank"> lien ici !</a>
                        </h5>
                        <p><em>Compétences :</em></p>
                        <ul>
                            <li>Écrire un code HTML et CSS maintenable.</li>
                            <li>Assurer l'accessibilité du site web.</li>
                            <li>Optimiser la taille et la vitesse du site web.</li>
                            <li>Optimiser le référencement d'un site web.</li>
                        </ul>
                    </div>

                    <div class="resume-item">
                        <h4>OHMYFOOD</h4>
                        <h5>
                            <a class="link-p" href="projet-ohmyfood.html"> détails ici !</a>
                        </h5>
                        <h5>
                            <a class="link-p" href="https://antho635.github.io/ohmyfood/" target="blank"> lien ici !</a>
                        </h5>
                        <p><em>Compétences :</em></p>
                        <ul>
                            <li>Mettre en œuvre des effets CSS graphiques avancés.</li>
                            <li>Assurer la cohérence graphique d'un site web.</li>
                            <li>Optimisation de la maintenance CSS avec SASS/SCSS.</li>
                            <li>Mettre en place une structure de navigation pour un site web.</li>
                        </ul>
                    </div>

                    <div class="resume-item">
                        <p><strong>Projet pro :</strong>(En cours de développement)</p>
                        <h4>ÉCO DÉMÉNAGEMENT</h4>
                        <h5>
                            <a class="link-p" href="projet-demenagement.html"> détails ici !</a>
                        </h5>
                        <h5>
                            <a class="link-p" href="https://antho635.github.io/projet-salva/" target="blank"> lien ici !</a>
                        </h5>
                        <!--<p><em>Fonctionnalités du site !!</em></p>
                        <p>"Devis et reservation en ligne, calculateur de volume et autres.."
                        </p>-->
                    </div>

                </div>
                <!------ HEBERGER SUR GITHUB ------>
                <!-- ======= DIPLOMES ET CERTIFICATIONS ======= -->
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <!--<h3 class="resume-title">Certifications design</h3>
                       <div class="resume-item pb-0">
                           <p>" Toutes mes certifications d'OPENCLASSROOMS "</p>
                           <h5>
                               <a class="link-p" href="certificat.html"> lien ici !</a>
                           </h5>
                       </div>-->
                    <h3 class="resume-title">Diplômes et Certifications</h3>
                    <div class="resume-item">
                        <h4>Développeur web & web mobile</h4>
                        <h5>Oct 2020 - Mai 2021</h5>
                        <p><em>E.N.I École informatiquee</em></p>
                        <ul>
                            <li>Programmation orientée objet avec Java. </li>
                            <li>Le développement web côté client FrontEnd (HTML, CSS), JavaScript. </li>
                            <li>Le langage de requête SQL avec SQL Server. </li>
                            <li>Procedure stockés avec PL/SQL. </li>
                            <li>Développement en couches et la persistance des données avec Java SE.</li>
                            <li>Développement web cotés serveur avec JAVA EE. </li>
                            <li>Analyse et conception d'une application. </li>
                            <li>Développement web cotés serveur - BACK-END avec PHP. </li>
                            <li>Développement web côté serveur BackEnd avec PHP et Symfony. </li>
                        </ul>
                    </div>

                    <div class="resume-item">
                        <h4>Prèp'WEB</h4>
                        <h5>2019 - 2020</h5>
                        <p><em>OPENCLASSROOMS</em></p>
                        <ul>
                            <li>Préparer des éléments graphiques et textuels à intégrer à une page web. </li>
                            <li>Définir la structure d'une page web à partir d'une maquette. </li>
                            <li>Adapter l'affichage d'un site web à des écrans de petite taille. </li>
                            <li>Assurer la conformité d'une page web aux standards HTML et CSS.</li>
                            <li>Mettre en œuvre des effets CSS graphiques avancés. </li>
                            <li>Assurer la cohérence graphique d'un site web. </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Concevoir un site web avec HTML5 et CSS3</h4>
                        <h5>2018 - 2019</h5>
                        <p><em>OPENCLASSROOMS</em></p>
                        <ul>
                            <li>Structurer une page web en HTML.</li>
                            <li>Mettre en forme une page web en CSS.</li>
                            <li>Organiser les éléments d’une page Web grâce au CSS.</li>
                            <li>Modifier l'agencement d'une page HTML avec CSS.</li>
                            <li>Intégrer des formulaires dans une page web.</li>
                            <li>Adapter une page pour les petites résolutions en CSS.</li>
                        </ul>
                    </div>
                </div>
                <!------ DIPLOMES ET CERTIFICATIONS ------>
            </div>
        </div>
    </section>
    <!-- CURRICULUM VITAE -->
</main>
{% endblock %}